*{
    color: black;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.scores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

#current-score {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#game-board {
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    border-radius: 10px;
}

.snake {
    background-color: black;
}

.food {
    background-color: green;
}